<header class="vw-100">
    <nav class="nav-41rtp">
        <div class="container-img">
            <img routerLink='/home' src="../../../assets/educo-logo-colored.svg">
        </div>
        <ul>
            <li>
                <a class="text-hover-link" (click)="scrollInto()">Baixar</a>
            </li>
            <li>
                <a class="text-hover-link" routerLink="#">Suporte</a>
            </li>
            <li class="separator"></li>
            <li>
                <a class="text-hover-link" routerLink="/signin">Entrar</a>
            </li>
            <li>
                <a class="text-hover-link" routerLink="/signup">Inscreva-se</a>
            </li>
        </ul>
    </nav>
</header>
