section {
    display: block;
    background-color: #fffffe;
    padding: 100px 15px 104px;
}


.CenteredFlexItem {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.3fr 0.2fr;
}

.DownloadComputer_DownloadIcon {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 8px;    
}

.TextStyle {
    font-family: 'Righteous-Regular';
    font-weight: 500;
    color: #5f6c7b;
    margin-top: 7px;
    text-align: start;
}
