<header class="vw-100">
    <nav class="nav-41rtp">
        <div class="container-img">
            <img routerLink='/home' src="../../../assets/educo-logo-colored.svg">
        </div>
        <ul>
            <li>
                <a (click)="scrollInto()">Baixar</a>
            </li>
            <li>
                <a routerLink="#">Suporte</a>
            </li>
            <li class="separator"></li>
            <li>
                <a routerLink="/signin">Entrar</a>
            </li>
            <li>
                <a routerLink="/signup">Inscreva-se</a>
            </li>
        </ul>
    </nav>
</header>
