<div *ngIf="this.service.user">
  <li>{{this.service.user.id}}</li>
</div>
<nav class="navbar navbar-expand-lg" *ngIf="this.service.groups">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
      <li class="group d-flex justify-content-center align-items-center nav-item" (click)="showGroup(this.service.groups[i].id); groupOnFocus($event)" *ngFor="let group of this.service.groups; index as i;">
        <span class="not-clickable first-letter">{{this.service.groups[i].nome}}</span>
      </li>
      <li class="group d-flex justify-content-center align-items-center nav-item" (click)="groupOnFocus($event)">
        <svg class="not-clickable" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
      </li>
    </ul>
  </div>
</nav>

<div class="groups" *ngIf="group">
  <div *ngFor="let post of this.service.posts; index as k">
    {{this.service.posts[k].text}}
  </div>
  <input (keydown.enter)="onKeyDown($event)" type="text">
</div>
