<main class="main-container vh-100 min-vw-100 container">
    <div class="row login-form slide-button">
        <div class="col position-relative d-flex align-items-center top-0 start-0">
            <form 
            [formGroup]="loginForm" 
            (ngSubmit)="onSubmit()"
            class="mx-auto"
            >
                <img
                    src="../../../assets/backgrounds/static_backgrounds/topDrawToLoginBackground.svg" 
                    class="w-75 position-absolute top-0 start-0 translate-middle"
                    style="margin-top: 13px; margin-left: 81px; pointer-events: none; user-select: none;" 
                >
                <img 
                    src="../../../assets/backgrounds/static_backgrounds/person-circle.svg"
                    class="mx-auto mb-3"
                    style="width: 125px;"
                    >
                <div class="px-1">
                    <div class="div-input" id="email" appLoginInput>
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                        </svg>
                        <span>Endereço de Email</span>
                        <input type="text" formControlName="email">
                    </div>
                    <div class="div-input" id="password" appLoginInput>
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                            <g fill="none">
                                <path d="M0 0h24v24H0V0z"/>
                                <path d="M0 0h24v24H0V0z" opacity=".87"/>
                            </g>
                            <path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"/>
                        </svg>
                        <span>Senha</span>
                        <input type="text" formControlName="password" style="-webkit-text-security: disc">
                    </div>
                </div>
                <div class="container">
                    <div class="row gap-3">
                        <button class="btn-login col text-center" type="submit" [disabled]="!loginForm.valid">Entrar</button>
                        <a class="col-8 my-auto" style="font-family: 'Righteous-Regular';">Esqueceu a Senha?</a>
                        <a routerLink="/signup" class="col my-auto" style="font-family: 'Righteous-Regular';">Não tem uma conta ainda?</a>
                    </div>
                </div>
                <img 
                    src="../../../assets/backgrounds/animated_backgrounds/CupCoffee_animated.svg"
                    class="w-25 position-absolute bottom-0 start-0 translate-middle-x"
                    style="pointer-events: none; user-select: none;"
                >
            </form>
        </div>
        <div 
            class="col position-relative"
            style="background-color:#57555C !important; width: 700px;"
        >
            <img
                class="w-100 img-fluid position-absolute top-50 start-50 translate-middle "
                src="../../../assets/backgrounds/static_backgrounds/NotebookEduco.svg"
            >
        </div>
    </div>
</main>