<div class="container mw-100 min-vh-100">
  <div class="row">
    <div class="col">
      <div class="input-group w-50 mx-auto my-4">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg" *ngIf="this.service.groups">
        <div class="container-fluid" style="margin-bottom: 1.85em;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
            <li class="group d-flex justify-content-center align-items-center nav-item" (click)="showGroup(this.service.groups[i].id); groupOnFocus($event)" *ngFor="let group of this.service.groups; index as i;">
              <span class="button-group">{{this.service.groups[i].nome[0].toUpperCase()}}{{this.service.groups[i].nome[1].toUpperCase()}}</span>
            </li>
            <li class="button-group d-flex justify-content-center align-items-center nav-item" (click)="groupOnFocus($event)">
              <svg class="not-clickable" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
              </svg>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row row-cols-3 view-height">
      <div class="col-2 container-perfil-rounded position-relative container-background-blue">
        <aside class="d-flex flex-column">
          <header class="text-center pt-5 pb-5">
            <img class="img-fluid w-75 thumbnail-user rounded rounded-circle" src="../../../../assets/imagemcu.jpg" alt="">
          </header>
          <ul class="d-grid gap-1">
            <li class="fs-4">
              <span class="text-color-dark-blue fw-bolder text-break">{{this.service.user.name}}</span>
            </li>
            <li class="fs-5 mb-4">
              <span class="text-color-dark-blue fw-bold text-break">{{ageFromBirth(this.service.user.date)}} anos</span>
            </li>
            <li class="fs-5">
              <p *ngIf="this.service.user.bio !== null" class="bioOverflow text-color-gray lh-lg text-break">{{this.service.user.bio}}</p>
              <p *ngIf="this.service.user.bio === null" class="fst-italic text-color-gray lh-lg text-break">Not bio yet.</p>
            </li>
            <li class="mb-4 position-absolute bottom-0 start-50 translate-middle-x">
              <a class="text-color-gray text-break text-hover-link">Editar perfil</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-8 container-message-rounded position-relative">
        <div class="">
          <div class="groups" *ngIf="groupState">
            <div class="message-post d-flex justify-content-between px-5 py-2 text-start text-wrap" *ngFor="let post of this.service.posts; index as k">
              <img class="perfil-user-post mb-auto thumbnail-user rounded rounded-circle" src="../../../../assets/imagemcu.jpg" alt="">
              <div class="d-flex flex-column gap-3 me-auto ms-4">
                <span class="text-user">{{this.service.user.name}}</span>
                <span class="text-message">{{this.service.posts[k].text}}</span>
              </div>
            </div>
            <div class="input-group w-75 mb-4 position-absolute bottom-0 start-50 translate-middle-x">
              <input class="form-control" (keydown.enter)="onKeyDown($event)" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 container-friends-rounded container-background-blue">
        <aside class="d-flex flex-column">
          <ul class="d-grid gap-1">
            <li class="fs-4 text-center mt-3">
              <span class="text-color-dark-blue fw-bold text-break">Amigos Online</span>
            </li>
            <li class="nav-item">
              <img src="" alt="">
            </li>
          </ul>
        </aside>
      </div>
  </div>
</div>
