.sidebar {
  width: 15%;
  height: 675px;
  margin-top: 64px !important;
  border-radius: 3em;
  word-break: break-word;
  background: #3da9fc;
}

.sidebar ul {
  font-weight: 600;
  color: #041e31;
}

.container-chat {
  margin-top: 64px !important;
  border-radius: 3em;
}

.thumbnail-user {
  width: 120px;
  height: 120px;
}
