.view-height {
  height: 80vh !important;
}

.groups {
  padding-top: 25px;
}
.message-post {
  color: #fffffe;
}
.message-post:hover {
  background-color: #051f31;
}
.perfil-user-post {
  width: 50px;
  height: 50px;
}
.text-user {
  font-weight: 500;
  color: #3da9fc;
}
.text-message {
  overflow-wrap: anywhere;
  color: #fffffe;
}

.button-group {
  position: relative;
  padding: 16px 25px;
  font-size: medium;
  font-family: "Righteous-Regular";
  font-weight: 500;
  border-radius: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  background-color: #349afa;
  transition: 0.4s;
}

.button-group:hover {
  box-shadow: 8px 3px black;
  color: black;
}

.bioOverflow {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.container-background-blue {
  background-color: #d8eefe !important;
}
.container-perfil-rounded {
  box-shadow: 12px 0 black;
  border-top-right-radius: 3em;
}
.container-message-rounded {
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
}
.container-friends-rounded {
  box-shadow: -12px 0 black;
  border-top-left-radius: 3em;
}

.text-color-dark-blue {
  color: #094067;
}
.text-color-gray {
  color: #5f6c7b;
}

ul {
  padding: 0 !important;
  list-style-type: none;
}

