<div class="input-group w-50 mx-auto my-4">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
  aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>

<app-nav></app-nav>

<aside class="ms-5 position-absolute top-50 start-0 translate-middle-y sidebar mt-4">
  <header class="text-center pt-5 pb-5">
    <img class="thumbnail-user rounded rounded-circle" src="../../../../assets/imagemcu.jpg" alt="">
  </header>
  <ul class="h-50 nav d-flex flex-column w-50 mx-auto align-items-center justify-content-between">
    <li class="d-flex flex-column nav-item fs-4">
      <span>Fabiano</span>
      <span>17 anos</span>
    </li>
    <li class="nav-item">
      <span>soudsagsdjfnjghdfkhndfkkkdsglfskhglfdhmkdfghlfdgphkpgdhmkgdfhkdghkkgdhgfkkalkfsdpkgfdhdf</span>
    </li>
    <li class="nav-item">
      <span>Editar perfil</span>
    </li>
  </ul>
</aside>

<div class="container-chat w-50 h-75 bg-warning position-absolute top-50 start-50 translate-middle">

</div>

<aside class="me-5 position-absolute top-50 end-0 translate-middle-y sidebar mt-4">
  <ul class="mt-5 h-50 nav d-flex flex-column w-50 mx-auto align-items-center text-center justify-content-between">
    <li class="d-flex flex-column nav-item fs-4">
      <span>Amigos Online:</span>
      <span>...</span>
    </li>
    <li class="nav-item">
      <img src="" alt="">
    </li>
  </ul>
</aside>


