.view-height {
  height: 80vh !important;
}

.bioOverflow {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.container-background-blue {
  background-color: #d8eefe !important;
}
.container-perfil-rounded {
  border-top-right-radius: 3em;
}
.container-message-rounded {
  background-color: red;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
}
.container-friends-rounded {
  border-top-left-radius: 3em;
}

.text-color-dark-blue {
  color: #094067;
}
.text-color-gray {
  color: #5f6c7b;
}

ul {
  padding: 0 !important;
  list-style-type: none;
}
