<app-header></app-header>
<main class="container-anim vw-100">
    <div class="main-content">
        <span class="title-container top-title">CONHECIMENTO</span>
        <img src="../../../assets/blabla.svg" class="superman-judite">
        <span class="title-container bottom-title">É PODER</span>
    </div>
</main>
<div *ngFor="let data of articles">
    <app-download-page [article]="data"></app-download-page>
</div>

<div id="downloadSection" class="d-flex gap-3 flex-wrap justify-content-evenly" style="width: 100%;">
    <a class="BtnStyle">
        <img class="DownloadComputer_DownloadIcon me-3" src="../../../assets/icons/download_black_24dp.svg">Baixar para Windows
    </a>
    <a class="BtnStyle" style="background-color: #ef4565 !important;">Use o Educo no Navegador</a>
</div>
